---
import i18next, { t } from "i18next";
import BaseLayout from "@layouts/BaseLayout.astro";
import { localizePath } from "@utils/localize-path";
import locations from "./_data/_locations.json";

export async function getStaticPaths() {
    return i18next.languages.map((lang) => ({
        params: { lang },
    }));
};

const { lang } = Astro.params;

i18next.changeLanguage(lang as string);
---

<BaseLayout language={i18next.language}>
    <main class="container">
        <h1>{t("global.locations")}</h1>
        <menu>
            {locations.map((location) => (
            <li>
                <a href={localizePath(`/locations/${location}`)}>
                    {t(`global.${location}`)}
                </a>
            </li>
            ))}
        </menu>
    </main>
</BaseLayout>
